    
           *{
            margin: auto;
            padding: 0%;
           }
           
           
           input[type=text]{
            width:25%;
            padding: 10px;
            margin: 15px;
            display: inline-block;
            border: 3px solid black;
            border-radius: 25px;
        }
        h1{
            text-align: center;
            color: green;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .h2{
            font-size: 16px;
             width: 550px;
             text-align: center;
             justify-content: center;
             padding: 19px;
             align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(227, 123, 158);
            box-shadow: 0 8px 32px rgba(0,0,0,0.3);
            outline: none;
        }
        .H2{
            font-size: 16px;
             width: 550px;
             text-align: center;
             justify-content: center;
             padding: 19px;
             align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(123, 214, 164);
            box-shadow: 0 8px 32px rgba(0,0,0,0.3);
            outline: none;
        }

        #H1{
            text-align: center;
            color: red;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        input[type=email]{
            width:25%;
            padding: 10px;
            margin: 15px;
            display: inline-block;
            border: 3px solid black;
            border-radius: 25px;
        }
         input[type=password]{
            width:25%;
            padding: 10px;
            margin: 15px;
            display: inline-block;
            border: 3px solid black;
            border-radius: 25px;
            margin-left: 5px;
        }
        input[type=file]{
            cursor: pointer;
        }
        .pwd1{
            font-size: medium;
        }
       input[type=submit]{
            width: 25%;
            background-color: grey;
            padding: 15px;
            margin: auto;
            display: inline-block;
            border: 2px solid black;
            border-radius: 4px;
            cursor: pointer;
        }
        .options{
            justify-content: space-between;
            display: inline-block;
            font-size: 14px;
        }
        input[type=text]:focus{
            background-color: plum;
            border: 5px solid purple;
        }
        input[type=email]:focus{
        background-color: powderblue;
            border: lightblue;
        }
        input[type=password]:focus{
        background-color: rgb(100, 225, 241);
            border: rgb(73, 83, 231);
        }
