
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background: #000;
  overflow-x: hidden;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav1 {
  color: #00cc66;
  font-size: 35px;
}
#pro{
  color: #00cc66;
  font-size: 35px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}


.Home {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1abc9c;
}


.Myphoto img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid #1abc9c;
  box-shadow: 0 0 20px rgba(26, 188, 156, 0.8);
}

.button {
  display: inline-block;
  padding: 12px 25px;
  background: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: #16a085;
  transform: scale(1.05);
}


#projects {
  text-align: center;
  padding: 50px 20px;
 
}
.project-title {
  color: #00ff99;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#s1{
  color: #00ff99;
}
.project-details-page img {
  width: 60%;              
  max-width: 600px;        
  margin: 20px auto;      
  display: block;          
  border-radius: 12px;     
  box-shadow: 0 4px 12px rgba(0,0,0,0.5); 
}

.project-details-page {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #111;
  color: white;
  border-radius: 12px;
  text-align: center;   
}


.section1{
  color: #00ff99;
}
.icon{
  text-align: center;
  border: 25px solid black;
  color: #1abc9c;
}

#form1{
  text-align: center;
  margin: auto;
  background-color: black;
  color: white;
  padding: 20px;
  width: 400px;
}
input,textarea{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
#details{
  color: #00ff99;
}
footer {
  background: rgba(0, 0, 30, 0.8);
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #1abc9c;
}
